<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品编辑</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../../../static/js/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/js/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../../static/js/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../../../static/css/style.css">
    <script src="../../../static/jquery/jquery-3.3.1.js"></script>
    <script src="../../../static/js/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- 富文本编辑器 -->
    <link rel="stylesheet" href="../../../static/js/plugins/kindeditor/themes/default/default.css"/>
    <script charset="utf-8" src="../../../static/js/plugins/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="../../../static/js/plugins/kindeditor/lang/zh_CN.js"></script>

    <script type="text/javascript" src="../../../static/js/plugins/angularjs/angular.min.js"></script>

    <script type="text/javascript" src="../../../static/js/base.js"></script>
    <script type="text/javascript" src="../../../static/js/controller/baseController.js"></script>
    <script type="text/javascript" src="../../../static/js/service/goodsService.js"></script>
    <script type="text/javascript" src="../../../static/js/service/uploadService.js"></script>
    <script type="text/javascript" src="../../../static/js/service/itemCatService.js"></script>
    <script type="text/javascript" src="../../../static/js/service/typeTemplateService.js"></script>
    <script type="text/javascript" src="../../../static/js/controller/goodsController.js"></script>


    <style type="text/css">
        .float {
            float: left;
            overflow: hidden;
            border: 1px solid #CCCCCC;
            border-radius: 10px;
            padding: 5px;
            margin: 5px;
        }

        img {
            position: relative;
        }

        .result {
            width: 100px;
            height: 100px;
            text-align: center;
            box-sizing: border-box;
        }

        #file_input {
            display: none;
        }

        .delete {
            width: 100px;
            height: 100px;
            position: absolute;
            text-align: center;
            line-height: 100px;
            z-index: 10;
            font-size: 30px;
            background-color: rgba(255, 255, 255, 0.8);
            color: #777;
            opacity: 0;
            transition-duration: 0.7s;
            -webkit-transition-duration: 0.7s;
        }

        .delete:hover {
            cursor: pointer;
            opacity: 1;
        }


    </style>
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="wgxcb" ng-controller="goodsController"
      ng-init="selectItemCat1List();findOne();">

<!-- 正文区域 -->
<section class="content">

    <div class="box-body">

        <!--tab页-->
        <div class="nav-tabs-custom">

            <!--tab头-->
            <ul class="nav nav-tabs">
                <li>
                    <a href="#home" data-toggle="tab">商品基本信息</a>
                </li>
                <li>
                    <a href="#pic_upload" data-toggle="tab">商品图片</a>
                </li>
                <li>
                    <a href="#customAttribute" data-toggle="tab">扩展属性</a>
                </li>
                <li class="active">
                    <a href="#spec" data-toggle="tab">规格</a>
                </li>
                {{imgResult}}
            </ul>
            <!--tab头/-->

            <!--tab内容-->
            <div class="tab-content">

                <!--商品基本信息-->
                <div class="tab-pane" id="home">
                    <div class="row data-type">
                        <div class="col-md-2 title">商品分类</div>

                        <div class="col-md-10 data">
                            <table>
                                <tr>
                                    <td>
                                        <select class="form-control" ng-model="entity.goods.category1Id"
                                                ng-options="item.id as item.name for item in itemCat1List">
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control select-sm" ng-model="entity.goods.category2Id"
                                                ng-options="item.id as item.name for item in itemCat2List"></select>
                                    </td>
                                    <td>
                                        模板ID:{{entity.goods.typeTemplateId}}
                                    </td>
                                </tr>
                            </table>

                        </div>


                        <div class="col-md-2 title">商品名称</div>
                        <div class="col-md-10 data">
                            <input type="text" class="form-control" ng-model="entity.goods.goodsName" placeholder="商品名称"
                                   value="">
                        </div>

                        <div class="col-md-2 title">副标题</div>
                        <div class="col-md-10 data">
                            <input type="text" class="form-control" ng-model="entity.goods.caption" placeholder="副标题"
                                   value="">
                        </div>

                        <div class="col-md-2 title">价格</div>
                        <div class="col-md-10 data">
                            <div class="input-group">
                                <span class="input-group-addon">¥</span>
                                <input type="text" class="form-control" ng-model="entity.goods.price" placeholder="价格"
                                       value="">
                            </div>
                        </div>

                        <div class="col-md-2 title editer">商品介绍</div>
                        <div class="col-md-10 data editer">
                            <textarea name="content" style="width:800px;height:400px;visibility:hidden;"></textarea>
                        </div>

                        <div class="col-md-2 title rowHeight2x">包装列表</div>
                        <div class="col-md-10 data rowHeight2x">

                            <textarea rows="4" class="form-control" ng-model="entity.goodsDesc.packageList"
                                      placeholder="包装列表"></textarea>
                        </div>

                        <div class="col-md-2 title rowHeight2x">售后服务</div>
                        <div class="col-md-10 data rowHeight2x">
                            <textarea rows="4" class="form-control" ng-model="entity.goodsDesc.saleService"
                                      placeholder="售后服务"></textarea>
                        </div>


                    </div>
                </div>

                <!--图片上传-->
                <div class="tab-pane " id="pic_upload">
                    <div class="row data-type">
                        <!-- 颜色图片 -->

                        <table class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                            <tr>
                                <th class="sorting" ng-repeat="item in entity.goodsDesc.specificationItems">
                                    {{item.attributeName}}
                                </th>
                                <th class="sorting">图片(1张主图+最多5张细节图)</th>
                                <th class="sorting">操作</th>
                            </thead>
                            <tbody>

                            <tr ng-repeat="pojo in entity.itemList">
                                <td ng-repeat="item in entity.goodsDesc.specificationItems">
                                    {{pojo.spec[item.attributeName]}}
                                </td>
                                <!--<td>-->
                                <!--<button id="selectMain">主图(重新选择)</button>-->
                                <!--<button id="add">细节图片(可以多选)</button>-->
                                <!--&lt;!&ndash; id="file_input"   ng-click="uploadFile()&ndash;&gt;-->
                                <!--<button class="btn btn-primary" id="submit" type="button">-->
                                <!--上传-->
                                <!--</button>-->
                                <!--<input type="file" id="file_input" multiple/>-->
                                <!--<div></div>-->
                                <!--<img alt="" src="../../../static{{image_entity.imgUrl}}" width="100px"-->
                                <!--height="100px">-->
                                <!--</td>-->
                                <td>

                                    <button type="button" class="btn btn-default" title="新建" data-target="#uploadModal"
                                            ng-click="image_entity={}" data-toggle="modal">
                                        <i class="fa fa-file-o"></i>新建
                                    </button>

                                    <button type="button" class="btn btn-default" title="删除"
                                            ng-click="remove_image_entity($index)"><i class="fa fa-trash-o"></i> 删除
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>


                <!--扩展属性-->
                <div class="tab-pane" id="customAttribute">
                    <div class="row data-type">
                        <div ng-repeat="item in entity.goodsDesc.customAttributeItems">
                            <div class="col-md-2 title">{{item.text}}</div>
                            <div class="col-md-10 data">
                                <input class="form-control" placeholder="{{item.text}}" ng-model="item.value">
                            </div>
                        </div>
                    </div>
                </div>

                <!--规格-->
                <div class="tab-pane active" id="spec">
                    <div class="row data-type">
                        <div class="col-md-2 title">是否启用规格</div>
                        <div class="col-md-10 data">
                            <input type="checkbox" ng-model="entity.goods.isEnableSpec" ng-true-value="1"
                                   ng-false-value="0">
                        </div>
                    </div>
                    <p>

                    <div ng-if="entity.goods.isEnableSpec=='1'">

                        <div class="row data-type">

                            <!--[
                            {"id":8,"spuId":13,"imgUrl":null,"price":111.00,"type":"床品套件","spec":"{\"颜色\":\"黑色\",\"床单尺寸\":\"150*230\"}","store":"平台","typeId":26,"storeId":0,"title":null,"num":99,"status":"1"},
                            {"id":9,"spuId":13,"imgUrl":null,"price":11.00,"type":"床品套件","spec":"{\"颜色\":\"蓝色\",\"床单尺寸\":\"150*230\"}","store":"平台","typeId":26,"storeId":0,"title":null,"num":999,"status":"1"},
                            {"id":10,"spuId":13,"imgUrl":null,"price":1.00,"type":"床品套件","spec":"{\"颜色\":\"红色\",\"床单尺寸\":\"150*230\"}","store":"平台","typeId":26,"storeId":0,"title":null,"num":99,"status":"0"}]-->

                            <!--{"options":[{"id":6,"orders":1,"specId":1,"value":"黑色"},{"id":7,"orders":3,"specId":1,"value":"蓝色"},{"id":8,"orders":2,"specId":1,"value":"红色"}],"id":1,"text":"颜色"}-->
                            <div ng-repeat="pojo in specList">
                                <div class="col-md-2 title">{{pojo.text}}</div>
                                <div class="col-md-10 data">
                                <span ng-repeat="option in pojo.options">
                                    <input type="checkbox" ng-value=""
                                           ng-checked="checkAttributeValue(pojo.text,option.value)"
                                           ng-click="updateSpecAttribute($event,pojo.text,option.value);createItemList()">{{option.value}}
                                </span>


                                </div>
                            </div>
                            <!--{{entity.goodsDesc.specificationItems}}-->
                            <!--[{"attributeName":"颜色","attributeValue":["黑色","蓝色","红色"]},{"attributeName":"床单尺寸","attributeValue":["150*230"]}]-->

                        </div>


                        <div class="row data-type">
                            <table class="table table-bordered table-striped table-hover dataTable">
                                <thead>
                                <tr>
                                    <th class="sorting" ng-repeat="item in entity.goodsDesc.specificationItems">
                                        {{item.attributeName}}
                                    </th>

                                    <th width="750px" class="sorting">图片(1张主图+最多5张细节图)</th>
                                    <th class="sorting">价格</th>
                                    <th class="sorting">库存</th>
                                    <th class="sorting">是否启用</th>
                                    <th class="sorting">是否默认</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--itemList:{{entity.itemList}}-->
                                <!--itemList:[{"spec":{"颜色":"黑色","床单尺寸":"150*230"},"price":0,"num":99999,"status":"1","isDefault":"0"},{"spec":{"颜色":"蓝色","床单尺寸":"150*230"},"price":0,"num":99999,"status":"1","isDefault":"1"},{"spec":{"颜色":"红色","床单尺寸":"150*230"},"price":0,"num":99999,"status":"0","isDefault":"0"}]-->

                                <tr ng-repeat="pojo in entity.itemList track by $index" repeat-finish="renderFinish()">
                                    <td ng-repeat="item in entity.goodsDesc.specificationItems">
                                        {{pojo.spec[item.attributeName]}}
                                    </td>
                                    <td ng-init="p_index=$index">
                                        <button id="selectMain{{$index}}">主图(重新选择)</button>
                                        <button id="add{{$index}}">细节图片(可以多选)</button>
                                        <!-- id="file_input"   ng-click="uploadFile()-->
                                        <button id="submit{{$index}}" class="btn btn-primary" type="button">
                                            保存图片
                                        </button>


                                        <input id="{{$index}}" style="display: none" name="imgUrl" type="text"
                                               class="form-control"
                                               ng-model="pojo.imgUrl" placeholder="图片">
                                        <input id="file_input{{$index}}" style="display: none" type="file" multiple>
                                        <div></div>
                                        <div ng-repeat="url in pojo.imgUrlShow track by $index">
                                            <div class="float" ng-click="deleteImgFromBack({{p_index}},{{$index}})">
                                                <div ng-click="deleteImgFromBack(p_index,$index)"
                                                     class="delete">delete
                                                </div>
                                                <div class="result"
                                                     ng-click="deleteImgFromBack({{p_index}},{{$index}})">
                                                    <img ng-click="deleteImgFromBack({{p_index}},{{$index}})"
                                                         class="subPic" src="../../../static{{url}}" width="100px"
                                                         height="100px"/>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <input class="form-control" ng-model="pojo.price" placeholder="价格">
                                    </td>
                                    <td>
                                        <input class="form-control" ng-model="pojo.stockCount" placeholder="库存数量">
                                    </td>
                                    <td>
                                        <input type="checkbox" ng-model="pojo.status" ng-true-value="1"
                                               ng-false-value="0">
                                    </td>
                                    <td>
                                        <input type="checkbox" ng-model="pojo.isDefault" ng-true-value="1"
                                               ng-false-value="0">
                                    </td>
                                </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>

            </div>
            <!--tab内容/-->
            <!--表单内容/-->

        </div>


    </div>
    <div class="btn-toolbar list-toolbar">
        <button class="btn btn-primary" ng-click="add()"><i class="fa fa-save"></i>保存</button>
        <a href="goods.html" class="btn btn-default">返回列表</a>
    </div>

</section>


<!-- 正文区域 /-->
<script type="text/javascript">
    var editor;
    KindEditor.ready(function (K) {
        editor = K.create('textarea[name="content"]', {
            allowFileManager: true
        });
    });

</script>

</body>
</html>