<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商家修改资料</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../../../static/js/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/js/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../../static/js/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../../../static/css/style.css">
    <script src="../../../static/js/plugins/jquery/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="../../../static/js/plugins/angularjs/angular.min.js"></script>
    <script src="../../../static/js/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../static/js/base.js"></script>
    <script type="text/javascript" src="../../../static/js/service/loginService.js"></script>
    <script type="text/javascript" src="../../../static/js/service/sellerService.js"></script>
    <script type="text/javascript" src="../../../static/js/controller/baseController.js"></script>
    <script type="text/javascript" src="../../../static/js/controller/sellerController.js"></script>


</head>

<body class="hold-transition skin-red sidebar-mini"
      ng-app="wgxcb" ng-controller="sellerController" ng-init="findOn()">

<!-- 正文区域 -->
<section class="content">

    <div class="box-body">

        <!--tab页-->
        <div class="nav-tabs-custom">

            <!--tab头-->
            <ul class="nav nav-tabs">

                <li class="active">
                    <a href="#home" data-toggle="tab">商家信息</a>

                </li>
            </ul>
            <!--tab头/-->

            <!--tab内容-->
            <div class="tab-content">

                <!--表单内容-->
                <div class="tab-pane active" id="home">
                    <div class="row data-type" ng-model="entity.id">
                        <div class="col-md-2 title">公司名称</div>
                        <div class="col-md-10 data">
                            <input ng-model="entity.name" type="text" class="form-control" placeholder="公司名称" value="">
                        </div>

                        <div class="col-md-2 title">公司电话</div>
                        <div class="col-md-10 data">
                            <input ng-model="entity.telephone"   type="text" class="form-control" placeholder="公司电话" value="">
                        </div>

                        <div class="col-md-2 title">公司详细地址</div>
                        <div class="col-md-10 data">
                            <input ng-model="entity.addressdetail"  type="text" class="form-control" placeholder="公司详细地址" value="">
                        </div>

                        <div class="col-md-2 title">联系人姓名</div>
                        <div class="col-md-10 data">
                            <input ng-model="entity.linkmanname"  type="text" class="form-control" placeholder="联系人姓名" value="">
                        </div>


                        <div class="col-md-2 title">联系人手机</div>
                        <div class="col-md-10 data">
                            <input ng-model="entity.linkmanmobile"  type="text" class="form-control" placeholder="联系人手机" value="">
                        </div>

                        <div class="col-md-2 title">营业执照号</div>
                        <div class="col-md-10 data">
                            <input ng-model="entity.licensenumber"  type="text" class="form-control" placeholder="营业执照号" value="">
                        </div>


                        <div class="col-md-2 title">法定代表人</div>
                        <div class="col-md-10 data">
                            <input ng-model="entity.legalperson"  type="text" class="form-control" placeholder="法定代表人" value="">
                        </div>

                    </div>
                </div>


            </div>
            <!--tab内容/-->
            <!--表单内容/-->

        </div>


    </div>
    <div class="btn-toolbar list-toolbar">
        <a data-toggle="modal" class="btn btn-danger" ng-click="save()">提交</a>
    </div>

</section>
<!-- 正文区域 /-->


</body>

</html>