<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>产品详情页</title>
    <link rel="icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="../../static/css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/pages-item.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/pages-zoom.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/widget-cartPanelView.css"/>

    <script type="text/javascript" src="../../static/js/plugins/jquery/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="../../static/js/plugins/jquery.jqzoom/jquery.jqzoom.js"></script>
    <script type="text/javascript" src="../../static/js/plugins/jquery.jqzoom/zoom.js"></script>
    <script type="text/javascript" src="../../static/js/plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="../../static/js/base.js"></script>
    <script type="text/javascript" src="../../static/js/controller/baseController.js"></script>
    <script type="text/javascript" src="../../static/js/service/itemService.js"></script>
    <script type="text/javascript" src="../../static/js/controller/itemController.js"></script>
    <script>
        var skuList = [
                     {
               id:76,
               title: '苏绘（SUHUI）四件套纯棉家纺手工 彩条一 2.0m床',
               price:1980,
               spec:{"颜色":"彩条一","尺寸":"2.0m床"},
               spuId:30
           },
           {
               id:77,
               title: '苏绘（SUHUI）四件套纯棉家纺手工 彩条二 2.0m床',
               price:1980,
               spec:{"颜色":"彩条二","尺寸":"2.0m床"},
               spuId:30
           },
           {
               id:78,
               title: '苏绘（SUHUI）四件套纯棉家纺手工 彩条三 2.0m床',
               price:1980,
               spec:{"颜色":"彩条三","尺寸":"2.0m床"},
               spuId:30
           },
        ];

        var img = [
            [
                  '/img/skuImg/cb41c478d57d450e98102e14ab1f229f.jpg',
                  '/img/skuImg/84486231a64d443fa92486d483d2a63e.jpg',
                  '/img/skuImg/ec672c29292446e4a71801033c364c88.jpg',
                  '/img/skuImg/ab3de436ce7e49dd8231e4bc239cc4da.jpg',
                  '/img/skuImg/e28a3bbaf8274a09b00907e2793cc5d2.jpg',
                  '/img/skuImg/27f1213272c546e1b932bf30cebc6eea.jpg',
                  '/img/skuImg/128b784b58bb4002afce3e630375a9b8.jpg',
            ],
            [
                  '/img/skuImg/1b09e3e389dc4cfaa27776795ea24916.jpg',
                  '/img/skuImg/053c04dfd8f74f13aa3ea930453b5085.jpg',
                  '/img/skuImg/2264942dfb5a4ad9986a7aa52c49decf.jpg',
                  '/img/skuImg/438d0403babb40b18d161af398c00559.jpg',
                  '/img/skuImg/6d4df151ee8743bfbe722b62cf078a30.jpg',
                  '/img/skuImg/c99e92540c2f45579f94133024123a84.jpg',
                  '/img/skuImg/7333c888dc4349648cac0d93fde29dce.jpg',
            ],
            [
                  '/img/skuImg/5b8d3a0435d141a8aa0ab6c52101afb5.jpg',
                  '/img/skuImg/ed3bfbfd5ff24beeabd2f638c47dcc0a.jpg',
                  '/img/skuImg/cbf377be5a7f4176ba9f35e4402edfb2.jpg',
                  '/img/skuImg/24899b2fc8124fca9eede3cd05d73205.jpg',
                  '/img/skuImg/2ac7825426a144d2a1a8ecdd8b83f96b.jpg',
                  '/img/skuImg/e33cec7b82c14c2ca93b276eb6f78689.jpg',
                  '/img/skuImg/2021a8de28ae4e59a7df7242533352aa.jpg',
            ],
        ];

    </script>
</head>

<body ng-app="wgxcb" ng-controller="itemController" ng-init="num=1;loadSku()">

<!--页面顶部 开始-->
<div id="nav-bottom">
	<!--顶部-->
	<div class="nav-top">
        <div class="top">
            <div class="py-container">
                <div class="shortcut">
                    <ul class="fl">
                        <li class="f-item">欢迎您！&nbsp;&nbsp;</li>
                                            </ul>
                    <ul class="fr">
                        <li class="f-item"><a href="/user/index.html" >网站首页</a></li>
                        <li class="f-item space"></li>
                        <li class="f-item"><a href="/user/home-index.html" >我的主页</a></li>
                        <li class="f-item space"></li>
                        <li class="f-item"><a href="/operate/login.html" >运营商后台</a></li>
                        <li class="f-item space"></li>
                        <li class="f-item"><a href="/store/login.html" >商家后台</a></li>
                        <!--<li class="f-item" id="service">-->
                        <!--<span>客户服务</span>-->
                        <!--<ul class="service">-->

                        <!--</ul>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>

		<!--头部-->
		<div class="header">
			<div class="py-container">
				<div class="yui3-g Logo">
					<div class="yui3-u Left logoArea">
                            <a href="/user/index" class="fl logo"></a>
					</div>
					<div class="yui3-u Center searchArea">
						<div class="search">
							<form action="" class="sui-form form-inline">
								<!--searchAutoComplete-->
								<div class="input-append">
									<input id="autocomplete" type="text" class="input-error input-xxlarge" />
									<button class="sui-btn btn-xlarge btn-danger" type="button">搜索</button>
								</div>
							</form>
						</div>
					</div>
					<div class="yui3-u Right shopArea">
						<div class="fr shopcar">
							<div class="show-shopcar" id="shopcar">
								<span class="car"></span>
								<a class="sui-btn btn-default btn-xlarge" href="cart.html" >
									<span>我的购物车</span>
									<i class="shopnum">0</i>
								</a>
								<div class="clearfix shopcarlist" id="shopcarlist" style="display:none">
									<p>"啊哦，你的购物车还没有商品哦！"</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="yui3-g NavList">
					<div class="yui3-u Left all-sort">
						<h4>全部商品分类</h4>
					</div>
					<div class="yui3-u Center navArea">
						<ul class="nav">
							<li class="f-item">服装城</li>
							<li class="f-item">美妆馆</li>
						</ul>
					</div>
					<div class="yui3-u Right"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--页面顶部 结束-->
<div class="py-container">
    <div id="item">
        <div class="crumb-wrap">
            <ul class="sui-breadcrumb">
                <li>
                    <a href="/user/search.html#?category='+家纺">家纺</a>
                </li>
                <li>
                    <a href="/user/search.html#?category='+四件套">四件套</a>
                </li>
            </ul>
        </div>
        <!--product-info-->
        <div class="product-info">
            <div class="fl preview-wrap">
                <!--放大镜效果-->
                <div class="zoom">
                    <!--默认第一个预览-->
                    <div id="preview" class="spec-preview">
							<span class="jqzoom">
							        <img jqimg="../../static{{imageList[0]}}"
                                         src="../../static{{imageList[0]}}"
                                         width="400px" height="400px"/>
                        </span>
                    </div>
                    <!--下方的缩略图-->
                    <div class="spec-scroll">
                        <a class="prev">&lt;</a>
                        <!--左右按钮-->
                        <div class="items">
                            <ul>
                                <li ng-repeat="url in imageList" repeat-finish="renderFinish()"><img
                                        src="../../static{{url}}"
                                        bimg="../../static{{url}}"
                                        onmousemove="preview(this)"/></li>
                            </ul>
                        </div>
                        <a class="next">&gt;</a>
                    </div>
                </div>
            </div>
            <div class="fr itemInfo-wrap">
                <div class="sku-name">
                    <h4>{{sku.title}}</h4>
                </div>
                <div class="summary">
                    <div class="summary-wrap">
                        <div class="fl title">
                            <i>价　　格</i>
                        </div>
                        <div class="fl price">
                            <i>¥</i>
                            <em>{{sku.price}}</em>
                            <span>降价通知</span>
                        </div>
                        <div class="fr remark">
                            <i>累计评价</i><em>{{sku.comment}}</em>
                        </div>
                    </div>
                    <div class="summary-wrap">
                        <div class="fl title">
                            <i>促　　销</i>
                        </div>
                        <div class="fl fix-width">
                            <i class="red-bg">加价购</i>
                            <em class="t-gray">满999.00另加20.00元，或满1999.00另加30.00元，或满2999.00另加40.00元，即可在购物车换
                                购热销商品</em>
                        </div>
                    </div>
                </div>
                <div class="support">
                    <div class="summary-wrap">
                        <div class="fl title">
                            <i>支　　持</i>
                        </div>
                    </div>
                    <div class="summary-wrap">
                        <div class="fl title">
                            <i>配 送 至</i>
                        </div>
                    </div>
                </div>
                <div class="clearfix choose">
                    <div id="specification" class="summary-wrap clearfix">

                                <dl>
                                    <dt>
                                        <div class="fl title">
                                            <i>颜色</i>
                                        </div>
                                    </dt>
								
								  <dd><a href="javascript:;"
                                         class="{{isSelected('颜色','彩条一')?'selected':''}}"
                                         ng-click="selectSpecification('颜色','彩条一')">彩条一
                                  </a></dd>
								  <dd><a href="javascript:;"
                                         class="{{isSelected('颜色','彩条二')?'selected':''}}"
                                         ng-click="selectSpecification('颜色','彩条二')">彩条二
                                  </a></dd>
								  <dd><a href="javascript:;"
                                         class="{{isSelected('颜色','彩条三')?'selected':''}}"
                                         ng-click="selectSpecification('颜色','彩条三')">彩条三
                                  </a></dd>
                                </dl>

                                <dl>
                                    <dt>
                                        <div class="fl title">
                                            <i>尺寸</i>
                                        </div>
                                    </dt>
								
								  <dd><a href="javascript:;"
                                         class="{{isSelected('尺寸','2.0m床')?'selected':''}}"
                                         ng-click="selectSpecification('尺寸','2.0m床')">2.0m床
                                  </a></dd>
                                </dl>

                    </div>

                    <div class="summary-wrap">
                        <div class="fl title">
                            <div class="control-group">
                                <div class="controls">
                                    <input autocomplete="off" ng-model="num" type="text" value="1" minnum="1"
                                           class="itxt"/>
                                    <a href="javascript:void(0)" class="increment plus" ng-click="addNum(1)">+</a>
                                    <a href="javascript:void(0)" class="increment mins" ng-click="addNum(-1)">-</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl">
                            <ul class="btn-choose unstyled">
                                <li>
                                    <a class="sui-btn  btn-danger addshopcar" ng-click="addToCart()">加入购物车</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--product-detail-->
        <div class="clearfix product-detail">
            <div class="fr detail">
                <div class="tab-main intro">
                    <ul class="sui-nav nav-tabs tab-wraped">
                        <li class="active">
                            <a href="#one" data-toggle="tab">
                                <span>商品介绍</span>
                            </a>
                        </li>
                        <li>
                            <a href="#two" data-toggle="tab">
                                <span>规格与包装</span>
                            </a>
                        </li>
                        <li>
                            <a href="#three" data-toggle="tab">
                                <span>售后保障</span>
                            </a>
                        </li>
                        <li>
                            <a href="#four" data-toggle="tab">
                                <span>商品评价</span>
                            </a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                    <div class="tab-content tab-wraped">
                        <div id="one" class="tab-pane active">
                            <ul class="goods-intro unstyled">
                            </ul>
                            <div class="intro-detail">
                                
                            </div>
                        </div>
                        <div id="two" class="tab-pane">
                            <p>无</p>
                        </div>
                        <div id="three" class="tab-pane">
                            <p>无</p>
                        </div>
                        <div id="four" class="tab-pane">
                            <p>商品评价</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--like-->
        <div class="clearfix"></div>
    </div>
</div>
<!-- 底部栏位 -->

<!--页面底部  开始 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="clearfix footer">
        <div class="py-container">
            <div class="footlink">
                <div class="Mod-copyright">
                    <ul class="helpLink">
                        <li>关于我们<span class="space"></span></li>
                        <li>联系我们<span class="space"></span></li>
                        <li>商家入驻<span class="space"></span></li>
                        <li>营销中心<span class="space"></span></li>
                        <li>友情链接</li>
                    </ul>
                    <div class="address">公司地址：XXXXXXXXXXXX 联系电话：00000000000 邮编：100096</div>
                    <div class="beian">Copyright ©XXXXXXX有限公司 All Rights Reserved　苏ICP备101dsf0号</div>
                </div>
            </div>
        </div>
    </div>

</footer>
</html><!--页面底部  结束 -->
</body>

</html>