<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>运营商后台管理系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../../../static/js/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/js/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../../static/js/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../../../static/css/style.css">
    <script src="../../../static/js/plugins/jquery/jquery-2.2.3.min.js"></script>
    <script src="../../../static/js/plugins/bootstrap/js/bootstrap.min.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">

<!-- 内容区域 -->


<!-- 内容头部 -->
<section class="content-header">
    <h1>
        控制面板
        <small>首页</small>
    </h1>
    <!--<ol class="breadcrumb">-->
        <!--<li><a href="all-admin-index.html"><i class="fa fa-dashboard"></i> 首页</a></li>-->
    <!--</ol>-->
</section>
<!-- 内容头部 /-->

<!-- 正文区域 -->
<section class="content">


    <!-- 统计数值 -->
    <!--<div class="row">-->
        <!--<div class="col-lg-3 col-xs-6">-->
            <!--&lt;!&ndash; small box &ndash;&gt;-->
            <!--<div class="small-box bg-aqua">-->
                <!--<div class="inner">-->
                    <!--<h3>150</h3>-->

                    <!--<p>新订单</p>-->
                <!--</div>-->
                <!--<div class="icon">-->
                    <!--<i class="ion ion-bag"></i>-->
                <!--</div>-->
                <!--<a href="all-order-manage-list.html" class="small-box-footer">详细 <i-->
                        <!--class="fa fa-arrow-circle-right"></i></a>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; ./col &ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-lg-3 col-xs-6">&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash; small box &ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="small-box bg-green">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="inner">&ndash;&gt;-->
                    <!--&lt;!&ndash;<h3>53<sup style="font-size: 20px">%</sup></h3>&ndash;&gt;-->

                    <!--&lt;!&ndash;<p>转化率</p>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="icon">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="ion ion-stats-bars"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="all-ad-statistics-list.html" class="small-box-footer">详细 <i&ndash;&gt;-->
                        <!--&lt;!&ndash;class="fa fa-arrow-circle-right"></i></a>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash; ./col &ndash;&gt;-->
        <!--<div class="col-lg-3 col-xs-6">-->
            <!--&lt;!&ndash; small box &ndash;&gt;-->
            <!--<div class="small-box bg-yellow">-->
                <!--<div class="inner">-->
                    <!--<h3>44</h3>-->

                    <!--<p>新注册用户</p>-->
                <!--</div>-->
                <!--<div class="icon">-->
                    <!--<i class="ion ion-person-add"></i>-->
                <!--</div>-->
                <!--<a href="all-member-manage-list.html" class="small-box-footer">详细 <i-->
                        <!--class="fa fa-arrow-circle-right"></i></a>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; ./col &ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-lg-3 col-xs-6">&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash; small box &ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="small-box bg-red">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="inner">&ndash;&gt;-->
                    <!--&lt;!&ndash;<h3>65</h3>&ndash;&gt;-->

                    <!--&lt;!&ndash;<p>日PV</p>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="icon">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="ion ion-pie-graph"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="all-ad-statistics-list.html" class="small-box-footer">详细 <i&ndash;&gt;-->
                        <!--&lt;!&ndash;class="fa fa-arrow-circle-right"></i></a>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash; ./col &ndash;&gt;-->
    <!--</div>-->
    <!-- /.row -->
</section>
<!-- 正文区域 /-->

<!-- 内容区域 /-->
</body>

</html>