<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div class="top">
        <div class="py-container">
            <div class="shortcut">
                <ul class="fl">
                    <li class="f-item">欢迎您！&nbsp;&nbsp;</li>
                    <div class="f-item" th:if="${username}">
                        <li class="f-item" th:if="${username}" th:text="${username}"></li>
                        <li class="f-item">&nbsp;&nbsp;<a th:href="@{/user/logout}" >注销</a>&nbsp;&nbsp;
                        </li>
                    </div>

                    <div class="f-item" th:unless="${username}">
                        <li class="f-item">&nbsp;&nbsp;请<a href="/user/login.html" >登录</a>&nbsp;&nbsp;
                        </li>
                        <span><a href="register.html" >免费注册</a></span>
                    </div>
                </ul>
                <ul class="fr">
                    <li class="f-item"><a href="/user/index.html" >网站首页</a></li>
                    <li class="f-item space"></li>
                    <li class="f-item"><a href="/user/home-index.html" >我的主页</a></li>
                    <li class="f-item space"></li>
                    <li class="f-item"><a href="/operate/login.html" >运营商后台</a></li>
                    <li class="f-item space"></li>
                    <li class="f-item"><a href="/store/login.html" >商家后台</a></li>
                    <!--<li class="f-item" id="service">-->
                    <!--<span>客户服务</span>-->
                    <!--<ul class="service">-->

                    <!--</ul>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../static/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#service").hover(function () {
                $(".service").show();
            }, function () {
                $(".service").hide();
            });
            $("#shopcar").hover(function () {
                $("#shopcarlist").show();
            }, function () {
                $("#shopcarlist").hide();
            });

        })
    </script>
</header>


<div th:fragment="lib">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>优质！优质！</title>
    <link rel="icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="../../static/css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/pages-JD-index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/widget-jquery.autocomplete.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/widget-cartPanelView.css"/>

    <!-- 引入angular的js -->
    <script type="text/javascript" src="../../static/js/plugins/angularjs/angular.min.js"></script>
    <!-- 引入分页相关的JS和CSS -->
    <script type="text/javascript" src="../../static/js/base.js"></script>
    <script type="text/javascript" src="../../static/js/controller/baseController.js"></script>
    <script type="text/javascript" src="../../static/js/service/contentService.js"></script>
    <script type="text/javascript" src="../../static/js/controller/contentController.js"></script>

</div>
</html>