<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>我的订单</title>
    <link rel="icon" href="assets/img/favicon.ico">
    <link rel="stylesheet" href="../../static/js/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/pages-seckillOrder.css"/>


    <script src="../../static/js/plugins/jquery/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="../../static/js/plugins/angularjs/angular.min.js"></script>
    <link rel="stylesheet" href="../../static/js/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../static/js/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/widget-jquery.autocomplete.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/widget-cartPanelView.css"/>


    <script type="text/javascript" src="../../static/js/plugins/sui/sui.min.js"></script>
    <script type="text/javascript" src="../../static/js/plugins/jquery-placeholder/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="../../static/js/widget/nav.js"></script>
    <!--分页组件开始-->
    <link rel="stylesheet" href="../../static/js/plugins/angularjs/pagination.css">
    <script type="text/javascript" src="../../static/js/base_pagination.js"></script>
    <script src="../../static/js/plugins/angularjs/pagination.js"></script>
    <script type="text/javascript" src="../../static/js/controller/baseController.js"></script>

    <script type="text/javascript" src="../../static/js/service/loginService.js"></script>
    <script type="text/javascript" src="../../static/js/service/orderService.js"></script>
    <script type="text/javascript" src="../../static/js/controller/orderController.js"></script>

</head>

<body ng-app="wgxcb" ng-controller="orderController" ng-init="showLoginName();reloadList()">
<!-- 头部栏位 -->
<!--页面顶部-->
<div th:include="user/header :: header"></div>
<!--header-->
<div id="account">
    <div class="py-container">
        <div class="yui3-g home">
            <!--左侧列表-->
            <div class="yui3-u-1-6 list">
                <!--<div class="person-info">-->
                    <!--<div class="person-photo"><img src="../../static/img/_/photo.png" alt=""></div>-->
                    <!--<div class="person-account">-->
                        <!--<span class="name">{{loginName}}</span>-->
                        <!--<span class="safe"><a href="/user/logout">退出登录 </a></span>-->
                    <!--</div>-->
                    <!--<div class="clearfix"></div>-->
                <!--</div>-->
                <div class="list-items">
                    <dl>
                        <dt><i>·</i> 订单中心</dt>
                        <dd><a href="home-index.html" class="list-active">我的订单</a></dd>
                        <dd><a href="home-order-pay.html">待付款</a></dd>
                        <dd><a href="home-order-send.html">待发货</a></dd>
                        <dd><a href="home-order-receive.html">待收货</a></dd>
                        <dd><a href="home-order-evaluate.html">待评价</a></dd>
                    </dl>
                    <dl>
                        <dt><i>·</i> 物流消息</dt>
                    </dl>
                    <dl>
                        <dt><i>·</i> 设置</dt>
                        <dd><a href="home-setting-info.html">个人信息</a></dd>
                        <dd><a href="home-setting-address.html">地址管理</a></dd>
                        <dd><a href="home-setting-safe.html">安全管理</a></dd>
                    </dl>
                </div>
            </div>
            <!--右侧主内容-->
            <div class="yui3-u-5-6 order-pay">
                <div class="body">
                    <div class="table-title">
                        <table class="sui-table  order-table">
                            <tr>
                                <thead>
                                <th width="35%">宝贝</th>
                                <th width="5%">单价</th>
                                <th width="5%">数量</th>
                                <th width="8%">商品操作</th>
                                <th width="10%">实付款</th>
                                <th width="10%">交易状态</th>
                                <th width="10%">交易操作</th>
                                </thead>
                            </tr>
                        </table>
                    </div>
                    <div class="order-detail">
                        <div class="orders" ng-repeat="order in list">
                            <!--order1-->
                            <div class="choose-title">
                                <label data-toggle="checkbox" class="checkbox-pretty ">
                                    <input type="checkbox" checked="checked"><span>{{order.createTime}}　订单编号：{{order.orderId}}  店铺：平台自营</span>
                                </label>
                            </div>
                            <table class="sui-table table-bordered order-datatable">
                                <tbody>
                                <tr>
                                    <td width="35%">
                                        <div class="typographic"><img src="../../static/img/1.jpg"/>
                                            <a href="#" class="block-text">苏绘（SUHUI）家纺 纯棉四件套床单 全棉床上用品床品套件床单单件被套 橙色 240*240cm 床单</a>
                                            <span class="guige">规格：橙色 240*240cm</span>
                                        </div>
                                    </td>
                                    <td width="5%" class="center">
                                        <ul class="unstyled">
                                            <!--<li class="o-price">¥598.00</li>-->
                                            <li>¥299.00</li>
                                        </ul>
                                    </td>
                                    <td width="5%" class="center">2</td>
                                    <td width="8%" class="center">

                                    </td>
                                    <td width="10%" class="center">
                                        <ul class="unstyled">
                                            <li>¥598.00</li>
                                            <!--<li>（含运费：￥0.00）</li>-->
                                        </ul>
                                    </td>
                                    <td width="10%" class="center">
                                        <ul class="unstyled">
                                            <li>等待卖家付款</li>
                                            <li><a href="orderDetail.html" class="btn">订单详情 </a></li>
                                        </ul>
                                    </td>
                                    <td width="10%" class="center">
                                        <ul class="unstyled">
                                            <li><a href="#" class="sui-btn btn-info">立即付款</a></li>
                                            <li>取消订单</li>

                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="clearfix"></div>
                        <!--<tm-pagination conf="paginationConf"></tm-pagination>-->

                    </div>
                    <tm-pagination conf="paginationConf"></tm-pagination>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- 底部栏位 -->
<!--页面底部-->
<div th:include="user/footer :: footer"></div>
<!--页面底部END-->
</body>

</html>