<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="user/header :: lib">


</head>

<body ng-app="wgxcb" ng-controller="contentController" ng-init="showTypeList();">
<!-- 头部栏位 -->
<div th:include="user/header :: header"></div>

<!--页面顶部-->
<div id="nav-bottom">
    <!--顶部-->
    <div class="nav-top">
        <!--头部-->
        <div class="header">
            <div class="py-container">
                <div class="yui3-g Logo">
                    <div class="yui3-u Left logoArea">
                        <a href="/user/index" class="fl logo"></a>
                    </div>
                    <div class="yui3-u Center searchArea">
                        <div class="search">
                            <form action="" class="sui-form form-inline">
                                <!--searchAutoComplete-->
                                <div class="input-append">
                                    <input id="autocomplete" ng-model="keywords" type="text"
                                           class="input-error input-xxlarge"/>
                                    <button class="sui-btn btn-xlarge btn-danger" ng-click="search()" type="button">搜索
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="yui3-u Right shopArea">
                        <div class="fr shopcar">
                            <div class="show-shopcar" id="shopcar">
                                <span class="car"></span>
                                <a class="sui-btn btn-default btn-xlarge" href="cart.html">
                                    <span>我的购物车</span>
                                    <i class="shopnum">0</i>
                                </a>
                                <div class="clearfix shopcarlist" id="shopcarlist" style="display:none">
                                    <p>"啊哦，你的购物车还没有商品哦！"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="yui3-g NavList">
                    <div class="yui3-u Left all-sort">
                        <h4>全部商品分类</h4>
                    </div>
                    <div class="yui3-u Center navArea">
                        <ul class="nav" th:each="m:${map}">
                            <li class="f-item">
                                <a th:href="@{'/user/search.html#?category='+${m['key']['name']}}"
                                   th:text="${m['key']['name']}"></a></li>
                            <!--<li class="f-item">寝室类</li>-->
                            <!--<li class="f-item">餐厨类</li>-->
                            <!--<li class="f-item">卫浴类</li>-->
                            <!--<li class="f-item">居家装饰类</li>-->
                            <!--<li class="f-item">家居服类</li>-->
                            <!--<li class="f-item">儿童类</li>-->

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--TODO 列表-->
<div class="sort">
    <div class="py-container">
        <div class="yui3-g SortList ">
            <div class="yui3-u Left all-sort-list">
                <div class="all-sort-list2">

                    <!--{"id":2,"name":"粗布类","pid":0}:[{"id":4,"name":"寝室类","pid":2}]-->
                    <div th:each="m:${map}" class="item bo">
                        <h3><a th:href="@{'/user/search.html#?category='+${m['key']['name']}}"
                               th:text="${m['key']['name']}"></a></h3>
                        <div class="item-list clearfix">
                            <div class="subitem">
                                <dl class="fore1">
                                    <dd>
                                        <em th:each="l : ${m['value']}"><a
                                                th:href="@{'/user/search.html#?category='+${l['name']}}"
                                                th:text="${l['name']}">枕类</a></em>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--TODO banner轮播广告-->
            <div class="yui3-g Center1">
                <div id="myCarousel" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
                    <ol class="carousel-indicators">
                        <!-- <li data-target="#myCarousel" data-slide-to="0" class="active"></li> -->
                        <li data-target="#myCarousel" data-slide-to="{{$index}}" class="{{$index==0?'active':''}}"
                            ng-repeat="item in contentList[1]"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="active item">
                            <a href="#">
                                <img src="../../static/img/logo/banner1.jpg"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="../../static/img/logo/banner2.jpg"/>
                            </a>
                        </div>
                        <!--<div class="{{$index==0?'active':''}} item" ng-repeat="item in contentList[1]">-->
                        <!--<a href="{{item.url}}">-->
                        <!--&lt;!&ndash;<img src="{{item.pic}}" width="730" height="454"/>&ndash;&gt;-->
                        <!--</a>-->
                        <!--</div>-->
                    </div>
                    <a href="#myCarousel" data-slide="prev" class="carousel-control left">‹</a>
                    <a href="#myCarousel" data-slide="next" class="carousel-control right">›</a>
                </div>
            </div>

            <!--<div class="yui3-u Right">-->
            <!--<div class="news">-->
            <!--<h4><em class="fl">网站动态</em><span class="fr tip">更多 ></span></h4>-->
            <!--<div class="clearix"></div>-->
            <!--<ul class="news-list unstyled">-->
            <!--<li>-->
            <!--<span class="bold">[特惠]</span>备战开学季 全民半价购-->
            <!--</li>-->
            <!--<li>-->
            <!--<span class="bold">[公告]</span>备战开学季 全民半价购-->
            <!--</li>-->
            <!--<li>-->
            <!--<span class="bold">[特惠]</span>备战开学季 全民半价购-->
            <!--</li>-->
            <!--<li>-->
            <!--<span class="bold">[公告]</span>备战开学季 全民半价购-->
            <!--</li>-->
            <!--<li>-->
            <!--<span class="bold">[特惠]</span>备战开学季 全民半价购-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="ads">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
        </div>
    </div>
</div>

<div class="py-container">
<!--//class="py-container"-->
    <!--全屏代码-->
    <!--style="width:100%;position:relative;"-->
    <div >

        <div>
            <!--内容区域-->
            <img src="../../static/img/index/4.jpg"
                 border="0" usemap="#Mapsff"
                 width="1400px"/>
            <map name="Mapsff">
                <area shape="rect" coords="158,147,411,444"
                      href="/sku/29.html"
                      target="_blank"/>
                <area shape="rect" coords="422,147,674,444"
                      href="/sku/26.html"
                      target="_blank"/>
                <area shape="rect" coords="694,147,944,444"
                      href="/sku/25.html"
                      target="_blank"/>
            </map>
            <!--内容区域-->
        </div>

        <div>
            <!--内容区域--> <img
                src="../../static/img/index/5.jpg"
                border="0" usemap="#Maplkjj"/>
            <map name="Maplkjj">
                <area shape="rect" coords="840,494,1634,1249"
                      href="/sku/30.html"
                      target="_blank">
            </map>
            <!--内容区域-->
        </div>
        <div>
            <!--内容区域--><img
                src="../../static/img/index/6.jpg"
                border="0" usemap="#Map"/>
            <map name="Map">
                <area shape="rect" coords="245,76,1642,838"
                      href="/sku/31.html" target="_blank"/>
            </map>
            <!--内容区域-->
        </div>

        <div>
            <!--内容区域-->
            <img src="../../static/img/index/7.jpg!q90"
                 border="0" usemap="#Mapmop"/>
            <map name="Mapmop">
                <area shape="rect" coords="315,118,1641,862"
                      href="/sku/33.html"
                      target="_blank"/>
            </map>
            <!--内容区域-->
        </div>

        <!--<div>-->
            <!--&lt;!&ndash;内容区域&ndash;&gt;-->
            <!--<img src="//img10.360buyimg.com/cms/jfs/t1/36081/40/803/730993/5cb0058cEbc629398/7679f0c2738ea70f.jpg!q90"-->
                 <!--border="0" usemap="#Mapp">-->
            <!--<map name="Mapp">-->
                <!--<area shape="rect" coords="315,118,1641,862" href="#" target="_blank">-->
            <!--</map>-->
            <!--&lt;!&ndash;内容区域&ndash;&gt;-->
        <!--</div>-->
    </div>
</div>
<!-- 底部栏位 -->
<!--页面底部-->
<div th:include="user/footer :: footer"></div>
<!--页面底部END-->

<script type="text/javascript" src="../../static/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/model/cartModel.js"></script>
<!--<script type="text/javascript" src="../../static/js/czFunction.js"></script>-->
<script type="text/javascript" src="../../static/js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="../../static/js/plugins/sui/sui.min.js"></script>

<!--<script type="text/javascript" src="../../static/js/widget/cartPanelView.js"></script>-->
<script type="text/javascript" src="../../static/js/widget/jquery.autocomplete.js"></script>
<script type="text/javascript" src="../../static/js/widget/nav.js"></script>

<script type="text/javascript" src="../../static/js/pages/index.js"></script>
</body>


</html>