<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>产品列表页</title>
    <link rel="icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="../../static/css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/pages-list.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/widget-cartPanelView.css"/>

    <script type="text/javascript" src="../../static/js/plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="../../static/js/plugins/angularjs/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="../../static/js/base.js"></script>
    <script type="text/javascript" src="../../static/js/service/searchService.js"></script>
    <script type="text/javascript" src="../../static/js/controller/searchController.js"></script>

</head>

<body ng-app="wgxcb" ng-controller="searchController" ng-init="loadkeywords()">

<!-- 头部栏位 -->
<!--页面顶部-->
<div id="nav-bottom">
    <!--顶部-->
    <div class="nav-top">
        <div th:include="user/header :: header"></div>


        <!--头部-->
        <div class="header">
            <div class="py-container">
                <div class="yui3-g Logo">
                    <div class="yui3-u Left logoArea">
                        <a href="/user/index" class="fl logo"></a>
                    </div>
                    <div class="yui3-u Center searchArea">
                        <div class="search">
                            <form action="" class="sui-form form-inline">
                                <!--searchAutoComplete-->
                                <div class="input-append">
                                    <input id="autocomplete" ng-model="searchMap.keywords" type="text"
                                           class="input-error input-xxlarge"/>
                                    <button class="sui-btn btn-xlarge btn-danger" ng-click="searchMap.pageNo=1;search()"
                                            type="button">搜索
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="yui3-u Right shopArea">
                        <div class="fr shopcar">
                            <div class="show-shopcar" id="shopcar">
                                <span class="car"></span>
                                <a class="sui-btn btn-default btn-xlarge" href="cart.html" >
                                    <span>我的购物车</span>
                                    <i class="shopnum">0</i>
                                </a>
                                <div class="clearfix shopcarlist" id="shopcarlist" style="display:none">
                                    <p>"啊哦，你的购物车还没有商品哦！"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="yui3-g NavList">
                    <div class="yui3-u Left all-sort">
                        <h4>全部商品分类</h4>
                    </div>
                    <div class="yui3-u Center navArea">
                        <ul class="nav">
                            <li class="f-item">
                                <a href="/user/search.html#?category=服装">服装</a></li>

                        </ul>
                        <ul class="nav">
                            <li class="f-item">
                                <a href="/user/search.html#?category=家纺">家纺</a></li>


                        </ul>
                        <ul class="nav">
                            <li class="f-item">
                                <a href="/user/search.html#?category=鞋类箱包">鞋类箱包</a></li>

                        </ul>
                    </div>
                    <div class="yui3-u Right"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--list-content-->
<div class="main">
    <div class="py-container">
        <!--bread-->
        <div class="bread">
            <ul class="fl sui-breadcrumb">
                <li>
                    <a href="#">搜索条件：</a>
                </li>
            </ul>
            <ul class="tags-choose">
                <li class="tag" ng-if="searchMap.category!=''" ng-click="removeSearchItem('category')">
                    商品分类：{{searchMap.category}}<i class="sui-icon icon-tb-close"></i></li>
                <li class="tag" ng-repeat="(key,value) in searchMap.spec" ng-click="removeSearchItem(key)">
                    {{key}}：{{value}}<i class="sui-icon icon-tb-close"></i></li>
                <li class="tag" ng-if="searchMap.price!=''" ng-click="removeSearchItem('price')">
                    价格：{{searchMap.price}}<i class="sui-icon icon-tb-close"></i></li>

                搜索结果：{{resultMap.total}}条

            </ul>

            <div class="clearfix"></div>
        </div>
        <!--selector-->
        <div class="clearfix selector">
            <div class="type-wrap" ng-if="resultMap.categoryList!=null && searchMap.category=='' ">
                <div class="fl key">商品分类</div>
                <div class="fl value">
                    <ul class="type-list">
                        <li ng-repeat="category in resultMap.categoryList">
                            <a href="#" ng-click="addSearchItem('category',category)">{{category}}</a>
                        </li>
                    </ul>
                </div>
                <div class="fl ext"></div>
            </div>
            <div class="type-wrap" ng-repeat="spec in resultMap.specList" ng-if="searchMap.spec[spec.text]==null">
                <div class="fl key">{{spec.text}}</div>
                <div class="fl value">
                    <ul class="type-list">
                        <li ng-repeat="option in spec.options">
                            <a href="#" ng-click="addSearchItem(spec.text,option.value)">{{option.value}}</a>
                        </li>
                    </ul>
                </div>
                <!--<div class="fl ext"></div>-->
            </div>

            <div class="type-wrap" ng-if="searchMap.price=='' ">
                <div class="fl key">价格</div>
                <div class="fl value">
                    <ul class="type-list">
                        <li>
                            <a href="#" ng-click="addSearchItem('price','0-50')">0-50元</a>
                        </li>
                        <li>
                            <a href="#" ng-click="addSearchItem('price','50-100')">50-100元</a>
                        </li>
                        <li>
                            <a href="#" ng-click="addSearchItem('price','100-150')">100-150元</a>
                        </li>
                        <li>
                            <a href="#" ng-click="addSearchItem('price','150-200')">150-200元</a>
                        </li>
                        <li>
                            <a href="#" ng-click="addSearchItem('price','200-300')">200-300元 </a>
                        </li>
                        <li>
                            <a href="#" ng-click="addSearchItem('price','300-*')">300元以上</a>
                        </li>
                    </ul>
                </div>
                <div class="fl ext">
                </div>
            </div>
            <!--<div class="type-wrap">-->
            <!--<div class="fl key">更多筛选项</div>-->
            <!--<div class="fl value">-->
            <!--<ul class="type-list">-->
            <!--<li>-->
            <!--<a>特点</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a>其他</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--<div class="fl ext">-->
            <!--</div>-->
            <!--</div>-->
        </div>
        <!--details-->
        <div class="details">
            <div class="sui-navbar">
                <div class="navbar-inner filter">
                    <ul class="sui-nav">
                        <li class="active">
                            <a href="#" ng-click="sortSearch('','')">综合</a>
                        </li>
                        <li>
                            <a href="#" ng-click="sortSearch('salenum','DESC')">销量↓</a>
                        </li>
                        <li>
                            <a href="#" ng-click="sortSearch('updatetime','DESC')">新品↓</a>
                        </li>
                        <li>
                            <a href="#" ng-click="sortSearch('comment','DESC')">评价↓</a>
                        </li>
                        <li>
                            <a href="#" ng-click="sortSearch('price','ASC')">价格↑</a>
                        </li>
                        <li>
                            <a href="#" ng-click="sortSearch('price','DESC')">价格↓</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="goods-list">
                <ul class="yui3-g">
                    <li class="yui3-u-1-5" ng-repeat="item in resultMap.rows">
                        <div class="list-wrap">
                            <div class="p-img">
                                <!--<a href="http://localhost:9105/{{item.id}}.html" ><img-->
                                <!--src="{{item.image}}"/></a>-->

                                <a href="/sku/{{item.spuId}}.html" ><img
                                        src="../../static{{item.imgUrl}}"/></a>
                            </div>
                            <div class="price">
                                <strong>
                                    <em>¥</em>
                                    <i>{{item.price}}</i>
                                </strong>
                            </div>
                            <div class="attr"
                                 style="height: 34px; line-height: 17px;overflow: hidden;
                                        overflow-x: hidden;overflow-y: hidden;"
                                 ng-bind-html="item.title | trustHtml"></div>
                            <!--<div class="attr" ng-bind-html="item.title"></div>-->


                            <div class="commit">
                                <i class="command">{{item.comment}}条评价</i>
                            </div>
                            <div class="commit">
                                <i class="command">{{item.store}}</i>
                                <i class="payNum">{{item.saleNum}}人付款</i>
                            </div>
                            <div class="operate">
                                <a  class="sui-btn btn-bordered btn-danger"
                                   ng-click="addToCart(item.id,'1');">加入购物车</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="fr page">
                <div class="sui-pagination pagination-large">
                    <ul>
                        <li class="prev {{isTopPage()?'disabled':''}}">
                            <a href="#" ng-click="queryByPage(searchMap.pageNo-1)">«</a>
                        </li>
                        <li class="dotted" ng-if="firstDot==true"><span>...</span></li>
                        <li ng-repeat="page in pageLabel">
                            <a href="#" ng-click="queryByPage(page)">{{page}}</a>
                        </li>
                        <li class="dotted" ng-if="lastDot==true"><span>...</span></li>
                        <li class="next {{isEndPage()?'disabled':''}}">
                            <a href="#" ng-click="queryByPage(searchMap.pageNo+1)">»</a>
                        </li>
                    </ul>
                    <div><span>共{{resultMap.totalPages}}页&nbsp;</span>
                        <span>到第<input type="text" class="page-num" ng-model="searchMap.pageNo">页 <button
                                class="page-confirm" ng-click="queryByPage(searchMap.pageNo)">确定</button></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 底部栏位 -->
<!--页面底部-->
<div th:include="user/footer :: footer"></div>
<!--侧栏面板结束-->
<script type="text/javascript" src="../../static/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#service").hover(function () {
            $(".service").show();
        }, function () {
            $(".service").hide();
        });
        $("#shopcar").hover(function () {
            $("#shopcarlist").show();
        }, function () {
            $("#shopcarlist").hide();
        });

    })
</script>
<script type="text/javascript" src="../../static/js/model/cartModel.js"></script>
<script type="text/javascript" src="../../static/js/czFunction.js"></script>
<script type="text/javascript" src="../../static/js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="../../static/js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="../../static/js/widget/cartPanelView.js"></script>
</body>

</html>